.selected-row {
    background-color: #e9ecef !important;
}

/* Navbar customization */
.navbar {
    background: var(--cpesa-maroon);
}

/* Table header styling */
.table thead tr {
    background-color: #6E1F1F;
    color: #fff;
}

/* Status Select Styles */
.form-select.status-select {
    font-weight: bold;
}

.status-select.status-paid {
    background-color: #198754;
    color: white;
}

.status-select.status-pending {
    background-color: #ffc107;
    color: black;
}

.status-select.status-overdue {
    background-color: #dc3545;
    color: white;
}